extends layout

block content
	#banner.page-header
		.row
			.col-md-6.col-sm-12
				h1= pageHeader.title
		.row
			.col-md-6.col-sm-12
				p 
					| Loc8r was created to help people find places to sit down and get a bit of work done. 
					| <br /><br /> 
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem ac nisi dignissim accumsan.
					|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quis repudiandae nostrum impedit exercitationem inventore consectetur repellat maxime sunt. Atque veniam ratione, veritatis nostrum nobis, quas dolores non aperiam ab totam quae laudantium cumque quisquam accusantium unde voluptate laboriosam similique voluptatibus accusamus itaque dignissimos eum sint incidunt?
					| <br/><br/>
					| Deserunt, voluptatibus similique sit expedita nobis commodi doloremque magnam aspernatur cupiditate velit, esse. Non iste nostrum nisi. Atque autem id labore voluptatibus tenetur, ratione, fuga sequi maxime ea reiciendis perferendis eaque officia nobis minima vel alias blanditiis. Facilis ad quidem accusamus nam optio autem sunt, quasi unde saepe, qui explicabo illo, excepturi quisquam. Sapiente animi aspernatur fugiat suscipit, soluta nesciunt libero laboriosam eligendi, dolorum beatae quo expedita laborum eos, dicta blanditiis neque doloribus! Cupiditate, doloribus beatae voluptatum, neque necessitatibus sequi illum quisquam tenetur, obcaecati et iure delectus a deserunt iste ea minus id earum, quod vel. 
					| <br/><br/>
					| Nihil exercitationem vel atque delectus impedit possimus iusto, eveniet iste quasi rem. Repudiandae sapiente ipsa, harum explicabo odio nihil tempora adipisci iusto quibusdam laudantium! Voluptatem harum debitis iure dolore, vero est aut dolorum provident laborum. Officiis, libero quas, culpa nemo iste laborum, perferendis unde maxime itaque dicta obcaecati. Numquam corporis sapiente nulla libero, inventore odio laborum autem.